.DS_Store
._*
*.log
*.pcap
*.deb
__pycache__/

packaging/payload/
packaging/build/
packaging/repo/

report/*.aux
report/*.fdb_latexmk
report/*.fls
report/*.log
report/*.out
report/*.toc
report/*.synctex.gz

source/*.o
source/*.dSYM/
