Package: com.rostane.showcase
Name: Showcase (iOS 15-17)
Version: 1.0~beta2-1
Architecture: iphoneos-arm64
Section: Utilities
Maintainer: Amine Rostane <amine.rostane@outlook.com>
Author: Amine Rostane <amine.rostane@outlook.com>
Depends: firmware (>= 15.0), libssl3 (>= 3.0.0), uikittools
Conflicts: ch.ringwald.btstack
Replaces: ch.ringwald.btstack (<= 1.1-1)
Homepage: https://github.com/amineross/showcase
Icon: https://aminerostane.com/repo/icons/showcase.png
Depiction: https://aminerostane.com/repo/depictions/cydia.html
SileoDepiction: https://aminerostane.com/repo/depictions/sileo.json
Description: Software wireless CarPlay receiver for rootless jailbreaks.
 Showcase turns a jailbroken cellular iPad into a pure-software wireless
 CarPlay receiver. This package targets rootless iOS 15-17 jailbreaks and
 installs under /var/jb with iphoneos-arm64 package metadata.
 .
 Tested by the community on iPadOS 17 rootless environments. Still beta.
