Package: com.rostane.showcase
Name: Showcase
Version: 1.0~beta1-1
Architecture: iphoneos-arm
Section: Utilities
Maintainer: Amine Rostane <amine.rostane@outlook.com>
Author: Amine Rostane <amine.rostane@outlook.com>
Depends: firmware (>= 12.0), libssl3 (>= 3.2.1), uikittools
Conflicts: ch.ringwald.btstack
Replaces: ch.ringwald.btstack (<= 1.1-1)
Homepage: https://github.com/aminerostane/showcase
Depiction: https://aminerostane.github.io/showcase/depictions/cydia.html
SileoDepiction: https://aminerostane.github.io/showcase/depictions/sileo.json
Description: Software wireless CarPlay receiver for jailbroken iPads.
 Showcase turns a jailbroken iPad into a pure-software wireless CarPlay
 receiver. It handles the Bluetooth iAP2 handshake, BAA authentication,
 AirPlay control plane, encrypted H.264 screen stream, and touch input relay.
 .
 Tested on iPad Air 1 cellular, iOS 12.5.8, rootful jailbreak layout.
