Package: com.rostane.showcase
Name: Showcase (iOS 12-14)
Version: 1.0~beta2-1
Architecture: iphoneos-arm
Section: Utilities
Maintainer: Amine Rostane <amine.rostane@outlook.com>
Author: Amine Rostane <amine.rostane@outlook.com>
Depends: firmware (>= 12.0), libssl3 (>= 3.2.1), uikittools
Conflicts: ch.ringwald.btstack
Replaces: ch.ringwald.btstack (<= 1.1-1)
Homepage: https://github.com/amineross/showcase
Icon: https://aminerostane.com/repo/icons/showcase.png
Depiction: https://aminerostane.com/repo/depictions/cydia.html
SileoDepiction: https://aminerostane.com/repo/depictions/sileo.json
Description: Software wireless CarPlay receiver for rootful jailbreaks.
 Showcase turns a jailbroken iPad into a pure-software wireless CarPlay
 receiver. This package targets rootful iOS 12-14 jailbreaks and installs
 under the classic root filesystem layout.
 .
 Tested on iPad Air 1 cellular, iOS 12.5.8, rootful jailbreak layout.
